# Secrets (ensure you never commit keys!)
.env 

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
.venv/
venv/
ENV/
build/
DevelopEggs/
.eggs/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
cover/

# Notebook metadata and temp files
*.nbconvert.ipynb
*.ipynb~

# pyenv
.python-version

# mypy
.mypy_cache/

# VS Code
.vscode/

# Ignore model checkpoints & embeddings
*.bin
*.pkl

